{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />

<title>
    {% block title %}Flask app |{% endblock %}
</title>
{% endblock head %}


{% block body %}

<div class="container">

    {% block navbar %}

    {% include 'navbar.html' %}

    {% endblock navbar %}

</div>


{% block content %}

{% endblock content %}

    {% for message in get_flashed_messages() %}
    <div class="container">
        <div class="alert alert-info alert-dismissible fade in">
            <button type="button" data-dismiss='alert' class="close">&times;</button>
            {{ message }}
        </div>
    </div>
    {% endfor %}


{% block scripts %}
{{ super() }}
{% endblock scripts %}

{% endblock body %}