{% extends 'base.html'%}

{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
{{ super() }}
Welcome
{% endblock %}

{% block content %}

<style>
    body {
        background-image: url('https://picsum.photos/id/307/2000/1325');
        font-family: 'Montserrat', sans-serif !important;
    }

</style>

<div class="container">


    <!--
        {% if user_ip %}
        <h3>Hello world in Flask. Your IP is {{user_ip}}</h3>
        {% else %}

        <a href="{{ url_for('index') }}">Go to home</a>
        {% endif %}
        <div class="row">
    -->
    <div class="row"> 

        <div class="col s12 m4">
            <div class="card-panel">

                {% if username %}
                <h4>¡Hi {{ username | capitalize }}!</h4>
                {% endif %}

                <h6>Create new task</h6>
                {{ wtf.quick_form(todo_form) }}

            </div>
        </div>
        <div class="col s12 m8">
                <div class="card-panel">
                    <h4>My tasks</h4>
                    <table class="table responsive-table highlight centered">
                        <thead>
                        <tr>
                            <th>Task</th>
                            <th>Status</th>
                            <th>Update</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for todo in todos %}
                            {{ macros.render_todo(todo, delete_form, update_form) }}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

        </div>
    </div>
</div>





</div>
{% endblock content %}