{% extends 'base.html'%}

{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
{{ super() }}
Welcome
{% endblock %}

{% block content %}

<div class="row"> 

        <div class="col s12 m4">
            <div class="card-panel z-depth-5">

                {% if username %}
                <h4>¡Hi {{ username | capitalize }}!</h4>
                {% endif %}

                <h6>Create new task</h6>
                {{ wtf.quick_form(todo_form) }}

            </div>
        </div>
        <div class="col s12 m8">
                <div class="card-panel z-depth-5">
                    <h4>My tasks</h4>
                    <table class="highlight">
                        <thead>
                        <tr>
                            <th>Task</th>
                            <th>Status</th>
                            <th>Update</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for todo in todos %}
                            {{ macros.render_todo(todo, delete_form, update_form) }}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

        </div>

</div>
{% endblock content %}