{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_todo(todo, delete_form, update_form) %}

<style>
span.badge {
    color: #fff;
}
</style>

      <tr>
        <td>{{todo.to_dict().description}}</td>
        <td>
            {% if todo.to_dict().done %}
            <span class="badge green">Done</span>
            {% else %}
            <span class="badge red">Not done yet</span>
            {% endif %}
        </td>
        <td>

            {{ wtf.quick_form(update_form, action=url_for('update', todo_id=todo.id, done=todo.to_dict().done)) }}    

        </td>
        <td>   

            {{ wtf.quick_form(delete_form, action=url_for('delete', todo_id=todo.id)) }}

        </td>
      </tr>


{% endmacro %}

