{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
{{ super() }}
Signup
{% endblock title %}

{% block content %}

<style>
    body {

        background-image: url('https://picsum.photos/id/194/1920/1189');
    }
</style>


<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h1>Create an account</h1>
        {{ wtf.quick_form(signup_form) }}
        <br>
        <p class="mt-4">
            ¿Do you have an account yet?<a href="login"> Login here.</a>
        </p>
    </div>
</div>



{% endblock content %}